# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea
/**/.idea/**
.vscode/settings.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/judge_client
cmake-build-debug/judge_client.cbp
cmake-build-debug/Makefile
cmake-build-debug/wsjudged
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/judge_client.dir/build.make
cmake-build-debug/CMakeFiles/judge_client.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/judge_client.dir/depend.make
cmake-build-debug/CMakeFiles/judge_client.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/judge_client.dir/flags.make
cmake-build-debug/CMakeFiles/judge_client.dir/link.txt
cmake-build-debug/CMakeFiles/judge_client.dir/progress.make
cmake-build-debug/CMakeFiles/wsjudged.dir/build.make
cmake-build-debug/CMakeFiles/wsjudged.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/wsjudged.dir/depend.make
cmake-build-debug/CMakeFiles/wsjudged.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/wsjudged.dir/flags.make
cmake-build-debug/CMakeFiles/wsjudged.dir/link.txt
cmake-build-debug/CMakeFiles/wsjudged.dir/progress.make
external/compare/cmake-build-debug/cmake_install.cmake
external/compare/cmake-build-debug/CMakeCache.txt
external/compare/cmake-build-debug/compare.cbp
external/compare/cmake-build-debug/Makefile
external/compare/cmake-build-debug/CMakeFiles/clion-environment.txt
external/compare/cmake-build-debug/CMakeFiles/clion-log.txt
external/compare/cmake-build-debug/CMakeFiles/cmake.check_cache
external/compare/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
external/compare/cmake-build-debug/CMakeFiles/CMakeOutput.log
external/compare/cmake-build-debug/CMakeFiles/Makefile.cmake
external/compare/cmake-build-debug/CMakeFiles/Makefile2
external/compare/cmake-build-debug/CMakeFiles/progress.marks
external/compare/cmake-build-debug/CMakeFiles/TargetDirectories.txt
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CMakeCCompiler.cmake
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CMakeCXXCompiler.cmake
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_C.bin
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_CXX.bin
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CMakeSystem.cmake
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CompilerIdC/CMakeCCompilerId.c
external/compare/cmake-build-debug/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
external/compare/cmake-build-debug/CMakeFiles/compare.dir/build.make
external/compare/cmake-build-debug/CMakeFiles/compare.dir/cmake_clean.cmake
external/compare/cmake-build-debug/CMakeFiles/compare.dir/depend.make
external/compare/cmake-build-debug/CMakeFiles/compare.dir/DependInfo.cmake
external/compare/cmake-build-debug/CMakeFiles/compare.dir/flags.make
external/compare/cmake-build-debug/CMakeFiles/compare.dir/link.txt
external/compare/cmake-build-debug/CMakeFiles/compare.dir/progress.make
model/judge/language/.clion.source.upload.marker
model/judge/language/cmake_install.cmake
model/judge/language/CMakeCache.txt
model/judge/language/judge_library.cbp
model/judge/language/Makefile
model/judge/language/CMakeFiles/clion-environment.txt
model/judge/language/CMakeFiles/clion-log.txt
model/judge/language/CMakeFiles/cmake.check_cache
model/judge/language/CMakeFiles/CMakeDirectoryInformation.cmake
model/judge/language/CMakeFiles/CMakeOutput.log
model/judge/language/CMakeFiles/Makefile.cmake
model/judge/language/CMakeFiles/Makefile2
model/judge/language/CMakeFiles/progress.marks
model/judge/language/CMakeFiles/TargetDirectories.txt
model/judge/language/CMakeFiles/3.17.1/CMakeCCompiler.cmake
model/judge/language/CMakeFiles/3.17.1/CMakeCXXCompiler.cmake
model/judge/language/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_C.bin
model/judge/language/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_CXX.bin
model/judge/language/CMakeFiles/3.17.1/CMakeSystem.cmake
model/judge/language/CMakeFiles/3.17.1/CompilerIdC/CMakeCCompilerId.c
model/judge/language/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
model/judge/language/CMakeFiles/bash.dir/build.make
model/judge/language/CMakeFiles/bash.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/bash.dir/depend.make
model/judge/language/CMakeFiles/bash.dir/DependInfo.cmake
model/judge/language/CMakeFiles/bash.dir/flags.make
model/judge/language/CMakeFiles/bash.dir/link.txt
model/judge/language/CMakeFiles/bash.dir/progress.make
model/judge/language/CMakeFiles/c11.dir/build.make
model/judge/language/CMakeFiles/c11.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/c11.dir/depend.make
model/judge/language/CMakeFiles/c11.dir/DependInfo.cmake
model/judge/language/CMakeFiles/c11.dir/flags.make
model/judge/language/CMakeFiles/c11.dir/link.txt
model/judge/language/CMakeFiles/c11.dir/progress.make
model/judge/language/CMakeFiles/c99.dir/build.make
model/judge/language/CMakeFiles/c99.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/c99.dir/depend.make
model/judge/language/CMakeFiles/c99.dir/DependInfo.cmake
model/judge/language/CMakeFiles/c99.dir/flags.make
model/judge/language/CMakeFiles/c99.dir/link.txt
model/judge/language/CMakeFiles/c99.dir/progress.make
model/judge/language/CMakeFiles/clang.dir/build.make
model/judge/language/CMakeFiles/clang.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/clang.dir/depend.make
model/judge/language/CMakeFiles/clang.dir/DependInfo.cmake
model/judge/language/CMakeFiles/clang.dir/flags.make
model/judge/language/CMakeFiles/clang.dir/link.txt
model/judge/language/CMakeFiles/clang.dir/progress.make
model/judge/language/CMakeFiles/clang11.dir/build.make
model/judge/language/CMakeFiles/clang11.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/clang11.dir/depend.make
model/judge/language/CMakeFiles/clang11.dir/DependInfo.cmake
model/judge/language/CMakeFiles/clang11.dir/flags.make
model/judge/language/CMakeFiles/clang11.dir/link.txt
model/judge/language/CMakeFiles/clang11.dir/progress.make
model/judge/language/CMakeFiles/clangpp.dir/build.make
model/judge/language/CMakeFiles/clangpp.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/clangpp.dir/depend.make
model/judge/language/CMakeFiles/clangpp.dir/DependInfo.cmake
model/judge/language/CMakeFiles/clangpp.dir/flags.make
model/judge/language/CMakeFiles/clangpp.dir/link.txt
model/judge/language/CMakeFiles/clangpp.dir/progress.make
model/judge/language/CMakeFiles/clangpp17.dir/build.make
model/judge/language/CMakeFiles/clangpp17.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/clangpp17.dir/depend.make
model/judge/language/CMakeFiles/clangpp17.dir/DependInfo.cmake
model/judge/language/CMakeFiles/clangpp17.dir/flags.make
model/judge/language/CMakeFiles/clangpp17.dir/link.txt
model/judge/language/CMakeFiles/clangpp17.dir/progress.make
model/judge/language/CMakeFiles/cpp11.dir/build.make
model/judge/language/CMakeFiles/cpp11.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/cpp11.dir/depend.make
model/judge/language/CMakeFiles/cpp11.dir/DependInfo.cmake
model/judge/language/CMakeFiles/cpp11.dir/flags.make
model/judge/language/CMakeFiles/cpp11.dir/link.txt
model/judge/language/CMakeFiles/cpp11.dir/progress.make
model/judge/language/CMakeFiles/cpp17.dir/build.make
model/judge/language/CMakeFiles/cpp17.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/cpp17.dir/depend.make
model/judge/language/CMakeFiles/cpp17.dir/DependInfo.cmake
model/judge/language/CMakeFiles/cpp17.dir/flags.make
model/judge/language/CMakeFiles/cpp17.dir/link.txt
model/judge/language/CMakeFiles/cpp17.dir/progress.make
model/judge/language/CMakeFiles/cpp20.dir/build.make
model/judge/language/CMakeFiles/cpp20.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/cpp20.dir/depend.make
model/judge/language/CMakeFiles/cpp20.dir/DependInfo.cmake
model/judge/language/CMakeFiles/cpp20.dir/flags.make
model/judge/language/CMakeFiles/cpp20.dir/link.txt
model/judge/language/CMakeFiles/cpp20.dir/progress.make
model/judge/language/CMakeFiles/cpp98.dir/build.make
model/judge/language/CMakeFiles/cpp98.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/cpp98.dir/depend.make
model/judge/language/CMakeFiles/cpp98.dir/DependInfo.cmake
model/judge/language/CMakeFiles/cpp98.dir/flags.make
model/judge/language/CMakeFiles/cpp98.dir/link.txt
model/judge/language/CMakeFiles/cpp98.dir/progress.make
model/judge/language/CMakeFiles/csharp.dir/build.make
model/judge/language/CMakeFiles/csharp.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/csharp.dir/depend.make
model/judge/language/CMakeFiles/csharp.dir/DependInfo.cmake
model/judge/language/CMakeFiles/csharp.dir/flags.make
model/judge/language/CMakeFiles/csharp.dir/link.txt
model/judge/language/CMakeFiles/csharp.dir/progress.make
model/judge/language/CMakeFiles/freebasic.dir/build.make
model/judge/language/CMakeFiles/freebasic.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/freebasic.dir/depend.make
model/judge/language/CMakeFiles/freebasic.dir/DependInfo.cmake
model/judge/language/CMakeFiles/freebasic.dir/flags.make
model/judge/language/CMakeFiles/freebasic.dir/link.txt
model/judge/language/CMakeFiles/freebasic.dir/progress.make
model/judge/language/CMakeFiles/go.dir/build.make
model/judge/language/CMakeFiles/go.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/go.dir/depend.make
model/judge/language/CMakeFiles/go.dir/DependInfo.cmake
model/judge/language/CMakeFiles/go.dir/flags.make
model/judge/language/CMakeFiles/go.dir/link.txt
model/judge/language/CMakeFiles/go.dir/progress.make
model/judge/language/CMakeFiles/java.dir/build.make
model/judge/language/CMakeFiles/java.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/java.dir/depend.make
model/judge/language/CMakeFiles/java.dir/DependInfo.cmake
model/judge/language/CMakeFiles/java.dir/flags.make
model/judge/language/CMakeFiles/java.dir/link.txt
model/judge/language/CMakeFiles/java.dir/progress.make
model/judge/language/CMakeFiles/java6.dir/build.make
model/judge/language/CMakeFiles/java6.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/java6.dir/depend.make
model/judge/language/CMakeFiles/java6.dir/DependInfo.cmake
model/judge/language/CMakeFiles/java6.dir/flags.make
model/judge/language/CMakeFiles/java6.dir/link.txt
model/judge/language/CMakeFiles/java6.dir/progress.make
model/judge/language/CMakeFiles/java7.dir/build.make
model/judge/language/CMakeFiles/java7.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/java7.dir/depend.make
model/judge/language/CMakeFiles/java7.dir/DependInfo.cmake
model/judge/language/CMakeFiles/java7.dir/flags.make
model/judge/language/CMakeFiles/java7.dir/link.txt
model/judge/language/CMakeFiles/java7.dir/progress.make
model/judge/language/CMakeFiles/java8.dir/build.make
model/judge/language/CMakeFiles/java8.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/java8.dir/depend.make
model/judge/language/CMakeFiles/java8.dir/DependInfo.cmake
model/judge/language/CMakeFiles/java8.dir/flags.make
model/judge/language/CMakeFiles/java8.dir/link.txt
model/judge/language/CMakeFiles/java8.dir/progress.make
model/judge/language/CMakeFiles/javascript.dir/build.make
model/judge/language/CMakeFiles/javascript.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/javascript.dir/depend.make
model/judge/language/CMakeFiles/javascript.dir/DependInfo.cmake
model/judge/language/CMakeFiles/javascript.dir/flags.make
model/judge/language/CMakeFiles/javascript.dir/link.txt
model/judge/language/CMakeFiles/javascript.dir/progress.make
model/judge/language/CMakeFiles/lua.dir/build.make
model/judge/language/CMakeFiles/lua.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/lua.dir/depend.make
model/judge/language/CMakeFiles/lua.dir/DependInfo.cmake
model/judge/language/CMakeFiles/lua.dir/flags.make
model/judge/language/CMakeFiles/lua.dir/link.txt
model/judge/language/CMakeFiles/lua.dir/progress.make
model/judge/language/CMakeFiles/objectivec.dir/build.make
model/judge/language/CMakeFiles/objectivec.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/objectivec.dir/depend.make
model/judge/language/CMakeFiles/objectivec.dir/DependInfo.cmake
model/judge/language/CMakeFiles/objectivec.dir/flags.make
model/judge/language/CMakeFiles/objectivec.dir/link.txt
model/judge/language/CMakeFiles/objectivec.dir/progress.make
model/judge/language/CMakeFiles/pascal.dir/build.make
model/judge/language/CMakeFiles/pascal.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/pascal.dir/depend.make
model/judge/language/CMakeFiles/pascal.dir/DependInfo.cmake
model/judge/language/CMakeFiles/pascal.dir/flags.make
model/judge/language/CMakeFiles/pascal.dir/link.txt
model/judge/language/CMakeFiles/pascal.dir/progress.make
model/judge/language/CMakeFiles/perl.dir/build.make
model/judge/language/CMakeFiles/perl.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/perl.dir/depend.make
model/judge/language/CMakeFiles/perl.dir/DependInfo.cmake
model/judge/language/CMakeFiles/perl.dir/flags.make
model/judge/language/CMakeFiles/perl.dir/link.txt
model/judge/language/CMakeFiles/perl.dir/progress.make
model/judge/language/CMakeFiles/php.dir/build.make
model/judge/language/CMakeFiles/php.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/php.dir/depend.make
model/judge/language/CMakeFiles/php.dir/DependInfo.cmake
model/judge/language/CMakeFiles/php.dir/flags.make
model/judge/language/CMakeFiles/php.dir/link.txt
model/judge/language/CMakeFiles/php.dir/progress.make
model/judge/language/CMakeFiles/pypy.dir/build.make
model/judge/language/CMakeFiles/pypy.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/pypy.dir/depend.make
model/judge/language/CMakeFiles/pypy.dir/DependInfo.cmake
model/judge/language/CMakeFiles/pypy.dir/flags.make
model/judge/language/CMakeFiles/pypy.dir/link.txt
model/judge/language/CMakeFiles/pypy.dir/progress.make
model/judge/language/CMakeFiles/pypy3.dir/build.make
model/judge/language/CMakeFiles/pypy3.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/pypy3.dir/depend.make
model/judge/language/CMakeFiles/pypy3.dir/DependInfo.cmake
model/judge/language/CMakeFiles/pypy3.dir/flags.make
model/judge/language/CMakeFiles/pypy3.dir/link.txt
model/judge/language/CMakeFiles/pypy3.dir/progress.make
model/judge/language/CMakeFiles/python2.dir/build.make
model/judge/language/CMakeFiles/python2.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/python2.dir/depend.make
model/judge/language/CMakeFiles/python2.dir/DependInfo.cmake
model/judge/language/CMakeFiles/python2.dir/flags.make
model/judge/language/CMakeFiles/python2.dir/link.txt
model/judge/language/CMakeFiles/python2.dir/progress.make
model/judge/language/CMakeFiles/python3.dir/build.make
model/judge/language/CMakeFiles/python3.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/python3.dir/depend.make
model/judge/language/CMakeFiles/python3.dir/DependInfo.cmake
model/judge/language/CMakeFiles/python3.dir/flags.make
model/judge/language/CMakeFiles/python3.dir/link.txt
model/judge/language/CMakeFiles/python3.dir/progress.make
model/judge/language/CMakeFiles/ruby.dir/build.make
model/judge/language/CMakeFiles/ruby.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/ruby.dir/depend.make
model/judge/language/CMakeFiles/ruby.dir/DependInfo.cmake
model/judge/language/CMakeFiles/ruby.dir/flags.make
model/judge/language/CMakeFiles/ruby.dir/link.txt
model/judge/language/CMakeFiles/ruby.dir/progress.make
model/judge/language/CMakeFiles/schema.dir/build.make
model/judge/language/CMakeFiles/schema.dir/cmake_clean.cmake
model/judge/language/CMakeFiles/schema.dir/depend.make
model/judge/language/CMakeFiles/schema.dir/DependInfo.cmake
model/judge/language/CMakeFiles/schema.dir/flags.make
model/judge/language/CMakeFiles/schema.dir/link.txt
model/judge/language/CMakeFiles/schema.dir/progress.make
